[submodule ".github/actions/setup-beam"]
	path = .github/actions/setup-beam
	url = https://github.com/erlef/setup-beam
[submodule ".github/actions/tmate"]
	path = .github/actions/tmate
	url = https://github.com/mxschmitt/action-tmate
